{% extends "layout.html" %}
{% block title %}
Dashboard
{% endblock %}
{% block body %}
<div class="whiteboard">
  <div class="pure-g listarea">
    {% for lesson, feedback_available in lessons  %}
      {% if lesson.is_ready() %}
      <div class="pure-u-1 pure-u-md-1-2">
        <div class="lessonblock" >
          <h1 class="title">{{ lesson.label }}</h1>
          {% if feedback_available %}
          </br>
          <span class="blockinfo">Feedback available</span>
          {% endif %}
          {# This link with empty span makes the whole div a link,
          see https://stackoverflow.com/a/3494108 #}
          <a href="{{ url_for('lesson_bp.overview', 
          lesson_url_id=lesson.url_id) }}"><span class="clickspan"></span></a>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
