{% if current_user.role == 'teacher' %}
<div class="footer pure-g teachercolor">
{% else %}
<div class="footer pure-g">
{% endif %}
  <div class="pure-u-1 pure-u-sm-2-3">
    <p class="about"> 
    {% if current_user.is_authenticated %}
      Logged in as {{ current_user.username }}. 
      <a href="{{ url_for('login_bp.logout') }}">Log out</a>.
      <br>
      {% if current_user.role == 'teacher' %}
        You are seeing the teacher interface
      {% endif %}
    {% else %}
      Logged out. 
      <a href="{{ url_for('login_bp.login') }}">Log in</a>.
      <br>
    {% endif %}
    <br> 
    <br> 
    We enjoy reading your bug reports and feedback 
    <a href="{{ url_for('feedback_bp.feedback') }}">sent here.</a>
  </div>
  <div class="pure-u-1 pure-u-sm-1-3">
    <div id="alogowrapper">
      <img src="{{ url_for('static', filename='img/aaltologo.png') }}" alt="Aalto logo" id="alogo">
    </div>
  </div>
</div>
