{% extends "layout.html" %}
{% block title %}{{ lesson.label }} - Review{% endblock %}
{% block body %}
<div class="whiteboard">
  <h1>{{lesson.label}}</h1>
  <ul>
    {% for lesson_record in records %}
    <li> <ul>
        <li> User: {{ lesson_record.user.username }}
        <li> Completed: {{ lesson_record.modified }}
      </ul>
    {% endfor %}
  </ul>
  </br>
  <a class="pure-button" href="{{ url_for('teacher_bp.overview') }}">
    Back to overview 
  </a>
  </br>
  <a class="pure-button button-warning" href="{{ url_for('teacher_bp.delete_lesson',
    lesson_url_id = lesson.url_id) }}">
    Delete this lesson
  </a>
</div>
<script> 
{# Set the variables here: #}
</script>
{% endblock %}
