{% extends "layout.html" %}
{% block title %}{{ lesson.label }} - Review{% endblock %}
{% block body %}
<div class="whiteboard">
  <div class="listarea">
    <h1>{{lesson.label}}</h1>
    
    <ul class="minimallist">
    {% for prompt in lesson.prompts %}
      <li> {{ prompt.text }}</li>
    {% endfor %}
    </ul>

  {% for lesson_record, cookie in records %}
    <div class="listy greenblock">
      <div class="listyleft">
        User: {{ lesson_record.user.username }} </br>
        Completed: {{ lesson_record.modified | datetimefmt }}
      </div>
      <div class="listyright">
        <a class="pure-button" 
          href="{{ url_for('teacher_bp.review_lesson_record',
          lesson_url_id = lesson.url_id,
          record_cookie = cookie) }}">
          Review</a>
      </div>
    </div>
  {% endfor %}
  </br>
  <a class="pure-button vspace" href="{{ url_for('teacher_bp.overview') }}">
    Back to overview 
  </a>
  {% if lesson.is_public %}
    <form action="{{ url_for('teacher_bp.unpublish_lesson',
      lesson_url_id = lesson.url_id) }}" method="post" class="inline-form vspace">
          <input type="submit" class="pure-button vspace" name="unpublish" value="Unpublish" />
          <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    </form>
  {% else %}
    <form action="{{ url_for('teacher_bp.publish_lesson',
      lesson_url_id = lesson.url_id) }}" method="post" class="inline-form">
          <input type="submit" class="pure-button vspace" name="publish" value="Publish" />
          <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    </form>
  {% endif %}
  </div>
</div>
<script> 
{# Set the variables here: #}
</script>
{% endblock %}
