{% extends "layout.html" %}
{% block title %}{{ lesson.label }}{% endblock %}
{% block body %}
<div class="whiteboard">
  <div class="listarea">
    <h1>{{lesson.label}}</h1>
    <h2>Prompts:</h2>
    {% for prompt in lesson.prompts[:lesson_record.num_prompts_completed() + 1] %}
    <div class="listy greenblock pure-g">
      <div class="listyleft pure-u-1-2">
        {{ prompt.text }}
      </div>
      <div class="listyright pure-u-1-2">
        {% if lesson_record.recording_exists(prompt) %}
        <a class="pure-button" 
          href="{{ url_for('lesson_bp.see_review', 
lesson_url_id = lesson.url_id, graph_id = prompt.graph_id) }}">
          Review</a>
        {% else %}
        <a class="pure-button" 
          href="{{ url_for('lesson_bp.read',
          lesson_url_id = lesson.url_id,
          graph_id = prompt.graph_id) }}">
          Record</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
    {#{% if lesson_record.reviews_exist() %}
      <a class="pure-button" href="{{ url_for('lesson_bp.browse_reviews',
      record_cookie = lesson_record.record_cookie, prompt_num=1) }}">See review</a>
      {% endif %}#}
  </br>
  <a class="pure-button" href="{{ url_for('dashboard_bp.dashboard') }}">
    Back to dashboard
  </a>
  {% if lesson_record.is_complete() and not lesson_record.submitted %}
    <form action="{{ url_for('lesson_bp.submit',
    lesson_url_id = lesson.url_id) }}" method="post" class="inline-form">
          <input type="submit" class="pure-button" name="submit" value="Submit for review" 
            onclick="return confirm('You cannot re-record after submitting. Are you sure?')"/>
          <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    </form>
  {% endif %}
  </div>
</div>
<script> 
{# Set the variables here: #}
var status_server_url = "{{ config["STATUS_SERVER_URL"] }}"
</script>
{% endblock %}
