{% extends "layout.html" %}
{% block title %}{{ lesson.label }} - Review{% endblock %}
{% block body %}
<div class="whiteboard">
  <div class="listarea">
    <h1>{{lesson.label}}</h1>

  {% for lesson_record, cookie in records %}
    <div class="listy greenblock pure-g">
      <div class="pure-u-1-8">
        User: {{ lesson_record.user.username }} </br>
        Completed: {{ lesson_record.modified | datetimefmt }}
      </div>
      <div class="pure-u-7-8">
        <a class="pure-button" 
          href="{{ url_for('teacher_bp.review_lesson_record',
          lesson_url_id = lesson.url_id,
          record_cookie = cookie) }}">
          Review</a>
      </div>
    </div>
  {% endfor %}
  </br>
  <a class="pure-button widebtn" href="{{ url_for('teacher_bp.overview') }}">
    Back to overview 
  </a>
  <a class="pure-button widebtn" href="{{ url_for('teacher_bp.delete_lesson',
    lesson_url_id = lesson.url_id) }}">
    Delete this lesson
  </a>
  </div>
</div>
<script> 
{# Set the variables here: #}
</script>
{% endblock %}
