{% extends "layout.html" %}
{% block title %}{{ lesson.label }} - {{ promptnum }}{% endblock %}
{% block body %}
{#{% if reference_record %}
<div class="greenboard">
{% endif %}
  {% else %} #}
<div class="purpleboard">
  <div id="promptmain">
    <div id="popup" class="popup"></div>
    <div id="prompt">
      The prompt will be displayed here.
    </div>
    <hr class="promptline" id="promptline">
    <div id="instruction">
       Press and hold <span class="teletype">&lt;space&gt;</span>
    </div>
  </div>
</div>
<script> 
{# Set the variables here: #}
var server_url = "{{ config["SPEECH_SERVER_URL"] }}";
var status_server_url = "{{ config["STATUS_SERVER_URL"] }}";
var recorder_worker_url = "{{ url_for( 'static', filename="js/recorderWorker.js") }}";
var prompt_text = "{{ prompt.text }}";
var graph_id = "{{ prompt.graph_id }}";
var record_cookie = "{{ record_cookie }}";
var reference_record = {{ "true" if reference_record else "false" }};
var review_page = {% if reference_record %}"{{ url_for('teacher_bp.review_reference', 
    lesson_url_id = lesson.url_id, graph_id = prompt.graph_id) }}"
    {% else %}"{{ url_for('lesson_bp.see_review', 
    lesson_url_id = lesson.url_id, graph_id = prompt.graph_id) }}"
    {% endif %}
var next_prompt = {% if reference_record %}"{{ url_for('teacher_bp.read_next', 
    lesson_url_id = lesson.url_id, graph_id = prompt.graph_id) }}"
    {% else %}"{{ url_for('lesson_bp.read_next', 
    lesson_url_id = lesson.url_id, graph_id = prompt.graph_id) }}"
    {% endif %}


</script>
<script src="{{ url_for('static', filename='js/dictate.js') }}"></script>
<script src="{{ url_for('static', filename='js/recorder.js') }}"></script>
<script src="{{ url_for('static', filename='js/recorderWorker.js') }}"></script>
<script src="{{ url_for('static', filename='js/speechtrack.js') }}"></script>
{% endblock %}

